{% extends 'todolist/layouts/main.html' %}
{% block content %}

<div class="container" style="margin-top:70px">
    <div class="row">
        <div class="col-12">
            <div class="header-bar">
                <h1>Hello {{request.user|title}} </h1>
                <h3>You have <i>{{count}}</i> incomplete task{{count|pluralize:'s'}}</h3>
                <hr>
            </div>
            {% include "todolist/inc/message.html" %} 
            <div class="search-add-wrapper">
                <form  method="get" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search-area" value="{{search_input}}">
                    <button class="btn btn-outline-success button" type="submit" >Search</button>
                </form>
                <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>

            </div>
            
            <div class="task-items-wrapper">
                {% for task in tasks_in_data %}

                    <div class="task-wrapper">
                        {% if task.complete %}
                            <div class="task-title">
                                <div class="task-complete-icon"></div>
                                <i><s><a href="{% url 'task-upate' task.id %}">{{task}}</a></s></i>
                            </div>
                        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>

                        {% else %}
                            <div class="task-title">
                                <div class="task-incomplete-icon"></div>
                                <a href="{% url 'task-upate' task.id %}">{{task}}</a>
                            </div>
                        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                        {% endif %}
                    </div>
                {% empty %}
                <h3> No Items in the list </h3>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
